@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

html, body {
  width: 100%;
  height: 100%;
}

body {
	font-weight: 300;
  background: #efefef;
}

.bg {
  background: #efefef url('../img/bg.jpg') center center;
  background-size: cover;

  .panel {
    margin-top: 20px;
  }

  @media (min-width: 980px) {
    .panel {
      margin-top: 100px;
    }
  }
}

.message-box {
  textarea {
    margin-bottom: 5px;
    border: 0;
    color: #212121;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    height: initial;
    padding: 12px;
  }

  .chars-left {
    margin-top: 13px;
    margin-right: 10px;
  }
}

.feed {
  .chime {
    width: 95%;
    margin-top: 20px;
    font-size: 18px;

    @media (min-width: 980px) {
      width: 80%;
    }

    header {
      margin-bottom: 5px;
      font-size: 13px;

      strong {
        font-weight: 500;
        font-size: 16px;
      }
    }

    background: #fafafa;
    padding: 20px;
  }
  .chime.mine {
    background: #B3E5FC;
    float: right;
  }
}

footer {
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}